@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

/* Global Style Start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --global-font: 'SF Pro Display', sans-serif;
    --primary-color-one: #C897E4;
    --cta-btn-primary: #5468E7;
    --cta-btn-secondary: #232340;
    --primary-text-color: #ffffff; 
    --secondary-text-color: #5468E7;
    --third-text-color:#232340;
    --font-bold: 900;
    --font-medium: 600;
    --font-thin: 400;
}

body{
    font-family: var(--global-font);
}

section{
    position: relative;
    width: 100%;
    height: 50rem;
    margin-top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.flex-container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}

.btn-cta{
    border-radius: 8px;
    width: 180px;
    height: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-dark{
    color: var(--primary-text-color);
    background: var(--cta-btn-secondary);
}   

.btn-blue{
    color: var(--primary-text-color);
    background: var(--cta-btn-primary);
}

/* Global Style End */

/* Navbar Style Start*/

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.navbar-brand img{
    width: 159px;
    height: 40px;
}

.navbar-item a{
    padding: 20px;
    text-decoration: none;
    color: #8B8B8B;
    font-size: 18px;
    font-weight: var(--font-medium);
}

.navbar-item a:nth-child(3){
    color: #ADADAD;
}

.navbar-item a:nth-child(1){
    color: var(--secondary-text-color);
}

/* Navbar Style End */

/* Hero Style Start */



.hero-title{
    font-size: 84px;
}

.hero{
    justify-content: space-around;
    flex-direction: row;
}

.hero-left{
    width: 90%;
    position: relative;
    left: 100px;
}

.hero-right{
    width: 90%;
    position: relative;
    right: 100px;
}

.hero-text{
    font-size: 18px;
    width: 355px;
    margin: 50px 0;
    opacity: 0.7;
    font-weight: var(--font-thin);
    line-height: 40px;
    letter-spacing: 0.5px;
}

.hero-right .monitor{
    z-index: 3;
    position: absolute;
    max-width: 150%;
    height: auto;
    right: -50px;
}

.hero-right .purple-bg{
    z-index: 1;
    position: absolute;
    right: 10px;
    height: auto;
}

.hero-right .net{
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 25px;
    max-width: 50%;
    height: auto;
}

.hero-right .float-blocks{
    z-index: 3;
    position: absolute;
    right: 175px;
    top: 110px;
    max-width: 75%;
    height: auto;
}

.hero-right .r-hand{
    z-index: 3;
    position: absolute;
    right: 0px;
    top: 285px;
    max-width: 45%;
    height: auto;
}

.hero-right .l-hand{
    z-index: 3;
    position: absolute;
    right: 500px;
    top: 390px;
    max-width: 55%;
    height: auto;
} 

/* Hero Style End */

/* Intro Style Start */

#intro{
    background-color: #232340;
    height: 125rem;
}

.header{
    justify-content:space-between;
    padding: 150px 0px;
}

.header-right img{
    position: absolute;
    right: 0px;
    top: -50px;
}

.header-center {
    justify-content: start;
    z-index: 3;
    position: relative;
    left: -210px;
}

.header-center-sub-title{
    font-size: 18px;
    color: white;
}

.header-center-sub-title span{
    opacity: 0.5;
    letter-spacing: 2px;
    margin-right: 20px;
}

.header-center-title{
    color: white;
    font-size: 64px;
    letter-spacing: 2px;
    margin: 30px 0px;
}

.header-left{
    position: relative;
    left: 50px;
}

.header-left img{
    width: 24px;
}

.arrow{
    justify-content: space-around;
    position: relative;
    right: 200px;
    top: 100px;
}

.arrow-left img{
    position: absolute;
    width: 50px;
    left: -60px;
    padding: 10px;
    border-radius: 50px;
    border: solid 1px white;
    transition: 0.3s;
    cursor: pointer;
}
.arrow-right img{
    position: absolute;
    width: 50px;
    right: -60px;
    padding: 10px;
    border-radius: 50px;
    border: solid 1px white;
    transition: 0.3s;
    cursor: pointer;
}

.arrow-right img:hover{
    background-color: var(--cta-btn-primary);
    transition: 0.3s;
    border: none;
}

.arrow-left img:hover{
    background-color: var(--cta-btn-primary);
    transition: 0.3s;
    border: none;
}

.slider{
    justify-content: space-around;
    position: relative;
}

.slider-img div img{
    position: relative;
    width: 100%;
    left: 100px;
    padding: 0px 100px;
}

.slick-dots{
    position: absolute;
    top: -50px;
    left: -10px;
    height: 900px;
    width: 200px;
    background: #232340;
}

.slick-dots li{
    margin-top: 125px;
    display: flex;
    justify-content: center;
}

.slick-dots li a{
    color: white;
    opacity: 0.5;
    font-size: 18px;
    letter-spacing: 2px;
    transition: 0.3s;
    font-weight: var(--font-medium);
}

.slick-dots .slick-active a{
    opacity: 1;
    transition: 0.3s;
}

.desc{
    justify-content: space-around;
    position: relative;
    margin-top: 175px;
}

.side-line{
    border-left: 2px solid white;
    height: 100px;
}

.desc-left-side{
    position: absolute;
    left: 125px;
}

.desc-center-side{
    position: absolute;
    left: 250px;
}

.desc-center-side .hero-title{
    color: white;
    font-size: 32px;
}

.desc-center-side .hero-text{
    color: white;
    font-size: 18px;
}

.desc-right-side{
    position: absolute;
    right: 250px;
}

.circle-brand{
    width: 402px;
    height: 402px;
    border-radius: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 55px;
    position: relative;
    padding: 50px;
}

.number-brand{
    color: white;
    font-size: 200px;
    text-align: center;
}

.text-brand{
    color: white;
    font-size: 23px;
    text-align: center;
}


/* Intro Style End */

/* Recent Style Start */

#recent-work{
    height: 100rem;
}

.head-light .header-center-sub-title{
    color: var(--secondary-text-color);
}

.head-light .header-center-title{
    color: var(--third-text-color);
}

.head-light .hero-text{
    margin-bottom: -50px;
}

.head-light .header-center{
    left: -340px;
}

.head-dark .header-center{
    left: -300px;
}

.head-dark .header-center-sub-title{
    color: white;
}

.head-dark .header-center-title{
    color: white;
}

.recent-list{
    justify-content: space-around;
}

.left-list{
    position: relative;
}

.left-list .list-catalog{
    width: 470px;
    height: 600px;
    background-color: #fccc78;
    position: relative;
    /* left: 100px; */
    border-radius: 24px;
}

.right-list .list-catalog{
    width: 470px;
    height: 600px;
    background-color: #d1ecfd;
    position: relative;
    border-radius: 24px;
}

.list-catalog .centered-list-image{
    position: absolute;
    width: 340px;
    height: 416px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.list-catalog .arrow-link{
    position: absolute;
    width: 60px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 250px;
    left: 95%;
    top: 70%;
    transition: 0.3s;
}

.arrow-link:hover{
    background-color: #9a97ed;
    border: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}

.list-catalog .featured-list{
    position: absolute;
    padding: 10px 50px;
    border-radius: 250px;
    color: white;
    background-color: #9a97ed;
    left: -50px;
    top: 50px;
}

.title-head-list{
    font-size: 26px;
    margin: 20px 0px;
}

.text-body-list{
    font-size: 18px;
    opacity: 0.7;
    font-weight: var(--font-thin);
    line-height: 40px;
    letter-spacing: 0.5px;
}

.list-catalog .text-catalog{
    position: relative;
    top: 625px;
    left: 10px;
}
/* Recent Style End */

/* Numbers Style Start */

#numbers{
    background-color: #232340;
    height: 120rem;
}

.design-number{
    justify-content: space-around;
    position: relative;
}

.top-section-number .text-brand{
    text-align: start;
}

.top-section-number .number-brand{
    text-align: start;
}

.top-section-number .number-group{
    position: relative;
}

.number-group .number-plus-icon{
    position: absolute;
    color: white;
    font-size: 75px;
    top: -20px;
    left: 250px;
}

.divider{
    border: 2px solid white;
    width: 100%;
    margin: 100px 0px;
    opacity: 0.4;
}

.bottom-section-number .hero-text{
    color: white;
    opacity: 0.5;
}

.left-design-number{
    position: absolute;
    left: 300px;
    top: 200px;
}
.right-design-number{
    position: absolute;
    right: 300px;
}

.btn-group{
    position: relative;
    justify-content: flex-start;
}

.btn-group img{
    background: #5468E7;
    padding: 10px;
    width: 50px;
    border-radius: 250px;
    margin-right: 20px;
}

.btn-group .btn-text{
    align-items: center;
    display: flex;
    color: white;
}

.slider .slider-img-number div img{
    position: relative;
    width: 100%;
    padding: 0px 100px;
}

.slider-img-number{
    position: relative;
    bottom: -1000px;
}

.left-slider-control .arrow-left img{
    position: relative;
    top: 1400px;
    background-color: #5468E7;
    border: transparent;
}

.right-slider-control .arrow-right img{
    position: relative;
    top: 1400px;
    background-color: #5468E7;
    border: transparent;
}

/* Numbers Style End */

/* Jobs Style Start */

#jobs{
    margin-top: 450px;
    height: 100rem;
    /* background-color: #f8f4f9; */
    background: linear-gradient(#f8f4f9 0%, white 100%);
}

#jobs .header-center{
    left: -370px;
}

.jobs-list{
    position: relative;
    flex-direction: column;
}


.jobs-box{
    position: absolute;
    flex-direction: column;
    top: 50px;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 15px 15px;
    width: 700px;
    padding: 80px;
    border-radius: 25px;
    transition: 0.3s;
}

.jobs-box:hover{
    background-color: var(--cta-btn-secondary);
    transition: 0.3s;
}

.jobs-box:hover .header-center-title{
    color: white;
    transition: 0.3s;
}

.jobs-box:hover .hero-text{
    color: white;
    transition: 0.3s;
}

.jobs-box:hover .arrow-right img{
    filter: invert(100%);
    transition: 0.3s;
    border: none;
}

.jobs-box .arrow-right img{
    border: none;
}

.jobs-box:nth-child(2){
    top: 350px;
}

.jobs-box:nth-child(3){
    top: 650px;
}

.jobs-box:nth-child(4){
    top: 950px;
}

.jobs-box .header-center-title{
    font-size: 32px;
    margin: -30px 0px;
    transition: 0.3s;
}

.jobs-box .hero-text{
    margin: 25px 0px;
    opacity: 0.3;
    transition: 0.3s;
}

.jobs-box .arrow-right{
    position: absolute;
    top: 190px;
    left: 60px;
}

.available-jobs{
    justify-content: space-between;
}

.available-jobs .arrow-right img{
    position: relative;
    background-color:#C897E4;
    top: 100px;
    left: -10px;
}

.available-jobs .hero-text{
    position: relative;
    top: 35px;
    right: 225px;
    width: 50px;
}


/* Jobs Style End */

/* Hello Style Start */

#hello{
    height: 100rem;
}

.hello{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #5468E7;
    border-radius: 50px;
}

.header-hello{
    padding-top: 200px;
}

.header-hello p{
    color: white;
    opacity: 1;
    font-size: 18px;
    margin: 30px 0px;
}

.header-hello h1{
    font-size: 32px;
    color: white;
    margin: 30px 0px;
}

.hello-footer{
    justify-content: space-around;
    margin-top: 200px;
    align-items: center;
}

.hello-footer .left-hello h1{
    text-align: start;
    font-size: 64px;
    color: white;
}

.talk-hello{
    justify-content: space-between;
    position: relative;
}

.talk-hello h1{
    text-align: start;
    color: white;
}

.talk-hello .arrow-right img:hover{
    border: 1px solid white;
    background-color: white;
    transition: 0.5s;
    filter: invert(100%);
}

.left-hello{
    border-top: 0.1px solid rgba(255, 255, 255, 0.664);
    width: 100%;
    padding: 200px;
    height: 700px;
}

.right-hello{
    width: 100%;
    border-top: 0.1px solid rgba(255, 255, 255, 0.664);
    padding: 200px;
    border-left: 0.1px solid rgba(255, 255, 255, 0.664);
    height: 700px;
}

.right-hello .icon{
    width: 166px;
    display: flex;
    justify-content: start;
}

/* Hello Style End */


/* Footer Style Start */

#footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
}


.footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer img{
    width: 10%;
}

.footer p{
    margin: 50px 20px 0px 0px;
    width: 600px;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
    letter-spacing: 0.3px;
    line-height: 30px;
}

.footer .navbar{
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-bottom{
    border-top: 1px solid rgba(70, 67, 67, 0.74);
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    position: relative;
}

.left-footer p{
    opacity: 0.5;
}

.left-footer,.right-footer{
    margin-top: 20px;
}

.right-footer p{
    display: inline-block;
    font-weight: var(--font-medium);
    color: var(--secondary-text-color);
    opacity: 0.7;
}

.right-footer img{
    margin-left: 20px;
    opacity: 0.4;
}

/* Footer Style End */